.no_margin_or_padding {
  margin: 0;
  padding: 0;
}
.leftie {
  float: left;
  width: 49%;
}
.rightie {
  float: right;
  width: 49%;
}
.clearfix {
  overflow: hidden;
  display: inline-block;
}
.clearfix { display: block; }
.nowrap { white-space: nowrap; }
.no-bullets { list-style: none; }
.inline-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
.inline-list li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
button, a.button, input.button {
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  background: #efefef url(../images/buttons/bg-button.png) center left repeat-x !important;
  border-style: solid;
  border-width: 1px !important;
  border-color: #dddddd #999999 #999999 #dddddd !important;
  -moz-outline-radius: 0.3em;
  color: #111111;
  display: inline-block;
  font-family: Helvetica Neue, Helvetica, Arial, Sans-serif;
  font-size: 1.1em !important;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0px;
  overflow: visible;
  padding: 10px 17px;
  text-decoration: none;
  text-transform: lowercase;
  width: auto;
  height: auto;
  cursor: pointer;
}
button.primary, a.button.primary, input.button.primary {
  font-weight: bold;
  color: #000000;
}
button:hover { background-image: url(../images/buttons/bg-button-hover.png) !important; }
a.button:hover { background-image: url(../images/buttons/bg-button-hover.png) !important; }
input.button:hover { background-image: url(../images/buttons/bg-button-hover.png) !important; }
button.large, a.button.large, input.button.large {
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  font-size: 1.4em !important;
  line-height: 1.4em;
}
button.small, a.button.small, input.button.small {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 0.9em;
  line-height: 1.4em;
  padding: 5px 10px;
}
button.small img { margin: 0 3px 0 0 !important; }
a.button.small img { margin: 0 3px 0 0 !important; }
input.button.small img { margin: 0 3px 0 0 !important; }
button.update img { margin-right: 7px; }
button.checkout img { margin-right: 7px; }
a.button.update img { margin-right: 7px; }
a.button.checkout img { margin-right: 7px; }
input.button.update img { margin-right: 7px; }
input.button.checkout img { margin-right: 7px; }
button img { vertical-align: middle; }
a.button img { vertical-align: middle; }
input.button img { vertical-align: middle; }
button:focus { outline: none; }
a.button:focus { outline: none; }
input.button:focus { outline: none; }
button::-moz-focus-inner {
  padding: 0px;
  border: none;
}
p a.button img { margin: 0 5px 0 0; }
p button img { margin: 0 5px 0 0; }
